.list-item {
  list-style: none;
  font-size: 1.1rem;
  color: rgb(8, 73, 130);
}

.adjust {
  width: 100%;
  max-height: 30rem;
  overflow: scroll;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.amount {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  margin-top: 2rem;
}

.button-area {
  display: flex;
  justify-content: right;
}

.btn-danger {
  color: rgb(0, 0, 0);
  width: 6rem;
  height: 2.3rem;
  background-color: white;
  border: 1px solid rgb(179, 52, 52);
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
}
.btn-danger:hover{
  color: white;
  background-color: rgb(179, 52, 52);
}

.btn-success {
  color: black;
  width: 6rem;
  height: 2.3rem;
  background-color: white;
  border: 1px solid rgb(70, 167, 38);
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  margin-left: 0.7rem;
}
.btn-success:hover{
  color: white;
  background-color: rgb(70, 167, 38);
}
