.meal-item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px #ccc;
  list-style: none;
  width: 100%;
  margin-left: -2.2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-form {
  text-align: right;
  display: flex;
}

.input-form button {
  color: rgb(5, 72, 101);
  width: 2.3rem;
  height: 2.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 3px #ccc;
  border: 1px solid rgb(0, 45, 94);
}
.input-form button:hover {
  border: 1px solid #ccc;
  color: black;
}
